<h1>Welcome to Jumpstart!</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

<div data-controller="hello">
  <h1 data-target="hello.heading">This is the home page</h1>
  <button class="btn btn-primary" data-action="click->hello#greet">Say Hello</button>
</div>